@model IEnumerable<TestLoginWithFacebook.ViewModels.Artis>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IimagePath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IimagePath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rated)
            </td>
            <td>
                @Html.ActionLink("View", "View", new {  id=item.Id  }) 
              
            </td>
        </tr>
}
    </tbody>
</table>
