@model BookingArtistMvcCore.ViewModels.ArtistExtened

@{
    var dateSerch = ViewData["DateSerach1"] as DateTime?;
    var city = ViewData["city"] as string;
}


<link href="~/css/ViewArtist.css" rel="stylesheet" />
<!------ Include the above in your HEAD tag ---------->

<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img src="@String.Format("data:image/gif;base64,{0}", Model.IimagePath)" alt="" />
                    @*<div class="file btn btn-lg btn-primary">
                            Change Photo
                            <input type="file" name="file" />
                        </div>*@
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        @Model.FullName
                    </h5>
                    <h6>
                        @Model.Description
                    </h6>
                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                    @*<a asp-controller="Home"
                           asp-action="OrderNow"   >
                            <button type="button" class="btn btn-success">order now</button>
                        </a>*@
                    <button type="button" class="btn btn-success">
                        @Html.ActionLink("Order Now", "OrderNow", new { id = Model.Id, TiemSerch = dateSerch.Value.Date, city = city })

                    </button>




                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Posts</a>
                        </li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-2">
                    <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile" />
                </div>*@
        </div>
        <div class="row">
            <div class="col-md-4">
                @*<div class="profile-work">
                        <p>Special Events</p>
                        <a href="">Website Link</a><br />
                        <a href="">Bootsnipp Profile</a><br />
                        <a href="">Bootply Profile</a>
                        <p>SKILLS Singles</p>
                        <a href="">Web Designer</a><br />
                        <a href="">Web Developer</a><br />
                        <a href="">WordPress</a><br />
                        <a href="">WooCommerce</a><br />
                        <a href="">PHP, .Net</a><br />
                    </div>*@
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.FullName</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Email</label>
                            </div>
                            <div class="col-md-6">
                                <p>blabla@gmail.com</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Phone</label>
                            </div>
                            <div class="col-md-6">
                                <p>123 456 7890</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>type Artist</label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.ArtistType</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Event price </label>
                            </div>
                            <div class="col-md-6">
                                <p>@Model.Price</p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div id="containerPost">
                            <img style="max-width: 200px;" class="rounded mx-auto d-block" src="https://wpamelia.com/wp-content/uploads/2018/11/ezgif-2-6d0b072c3d3f.gif" />
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>


        var containerPost = $('#containerPost');

        $('#profile-tab').click(function (event) {



            $.get("/home/GetPostsByIdArtist/@Model.Id" ).done(function (data) {
                containerPost.html(data);

            })

        })


    </script>

}